* {
	font-family: courier;
}

.container {
	display:flex;
	height:100%;
}

.toDoList {
	flex-grow: 1;
	display:flex;
	flex-direction: column;
	padding: 15px;
	background-color: black;
	color: white;
}

.listItem {
	margin:3px;
	padding:5px;
	border-radius:2px;
	background-color:white;
	color:black;
}

.listItem:hover {
	background-color: grey;
}

.calendarBox {
	flex-grow: 9;
	display: flex;
	flex-direction:column;
	padding: 20px;
	background-color: white;
}

.week {
	flex-direction:row;
	flex-grow:1;
	display:flex;
	align-items:center;
}

.day {
	flex-grow:1;
	width:10px;
	background-color: black;
	border-color:white;
	border-width:0.5px;
	border-style:solid;
	color:white;
	margin: 0;
	padding:5px;
	height: 50px;
	text-align:center;
	overflow:scroll;
	transition: 0.2s;
}

p {
	margin:0;
	text-overflow:hidden;
}

.day:hover {
	background-color:grey;
}

.widen {
	width:200px;
}

.heighten {
	height:200px;
}

#selectedDay {
	width:200px;
	height:200px;
	transition:0.2s;
}

#redOne {
	color:red;
}

#selectedWeek {

}
