* {
	font-family: courier;
}

.container {
	display:flex;
}

.toDoList {
	flex-grow: 1;
	display:flex;
	flex-direction: column;
	padding: 15px;
	background-color: black;
	color: white;
}

.listItem {
	margin:3px;
	padding:5px;
	border-radius:2px;
	background-color:white;
	color:black;
}

.listItem:hover {
	background-color: grey;
}

.calendarBox {
	flex-grow: 6;
	display: flex;
	flex-direction:column;
	padding: 20px;
	background-color: white;
}

.week {
	flex-direction:row;
	flex-grow:1;
	display:flex;
}

.day {
	flex-grow:1;
	flex-shrink: 2;
	background-color: black;
	border-radius: 8px;
	color:white;
	margin: 2px;
	padding:5px;
	height: 50px;
	text-align:center;
}

.day:hover {
	background-color:grey;
}

#selectedDay {

}

#selectedWeek {

}
