html {
	height: 100%;
}

body {
	margin: 0;
	font-family: Arial Black;
	color: black;
	height: 100%;
}

h1, p {
	text-align: center;
}

p {
	font-family: Courier;
	font-size: 13px;
}

.container {
	width: 100%;
	height: 94%;
	background-color: white;
	display: flex;
	flex-direction: column;
}

.dudeIcon {
	margin: 10% auto;
	width: 150px;
	height: 150px;
	transition: 20s;
}

.dudeIcon:hover {
	transform: scale(15);
}

.navbar {
	margin: 0 auto;
}

ul {
	margin: 0 auto;
	list-style: none;
	padding: 0px;
}

ul li {
	float: left;
	text-decoration: none;
	text-align: center;
	margin: 0.5em 1em;
	padding: 10px;
	transition: 0.2s;
}

a {
	display: inline-block;
	text-decoration: none;
	transition: 0.05s;
}

a:link {
		color: black;
}

a:visited {
	color: gray;
}

a:hover {
	transform: scale(1.05);
	color:hotpink;
}


footer {
	height: 20px;
	font-size: 10px;
	color: gray;
	text-align: center;
}

.work {
	display: flex;
	justify-content: center;
}

.workPiece {
	width: 100px;
	height: 100px;
	background-color: gray;
	margin: 0 3px;
}
